* {
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

/* ===================
    portfolio start
======================*/
#portfolio {
  background: #d43b3b;
  padding: 100px 0;
}
#portfolio .portfolio__heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 38px;
  text-align: center;
}
#portfolio .portfolio__heading span {
  color: #fff;
}
#portfolio .portfolio__main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#portfolio .portfolio__item {
  width: 32%;
  margin: 25px 0;
}
#portfolio .portfolio__item img {
  width: 100%;
}
#portfolio .portfolio__item h3 {
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 15px 0;
  color: #d43b3b;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  transition: 0.45s;
}
#portfolio .portfolio__item h3:hover {
  color: black;
}
/* ===================
    portfolio end
======================*/

/* ===================
    Responsive Design Start
======================*/
@media (max-width: 900px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 320px) and (max-width: 465px) {
  #portfolio .portfolio__item {
    width: 100%;
  }
}
@media (min-width: 466px) and (max-width: 670px) {
  #portfolio .portfolio__item {
    width: 47%;
  }
}
