body {
  margin: 0;
  padding: 0;
}
.sectionWrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sectionWrapper .imageButton {
  width: 200px;
  border-radius: 15px;
  padding: 10px;
  background: #f5f5f5;
}
.sectionWrapper .imageButton img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.detailsView {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: black;
  top: 0;
}
.detailsView .closeButton {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 50px;
  top: 50px;
  background: rgb(37, 37, 37);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.detailsView .closeButton span {
  width: 15px;
  height: 7px;
  background: white;
  cursor: pointer;
}
.imageBox {
  margin: 0 auto;
  width: 600px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailsViewImage {
  width: 100%;
}
.show {
  display: block;
}
