// color profile
$primaryColor: #d43b3b;
$secondaryColor: #000000b2;
$othersColor: #ffffff;

// Font size
$headingFontSize: 38px;
$paraFontSize: 16px;
$buttonFontSize: 15px;

// Gaping variable
$sectionGap: 100px;
$subSectionGap: 50px;

// Font Family
$nunito: "Nunito", sans-serif;
$poppins: "Poppins", sans-serif;
