// Div size
@mixin divsize($width, $height, $background) {
  width: $width;
  height: $height;
  background: $background;
}

// button
@mixin button($padding, $background, $border, $borderRadius) {
  padding: $padding;
  background: $background;
  border: $border;
  border-radius: $borderRadius;
}

// Font Family
@mixin fontfamily($familyName, $size, $weight) {
  font-family: $familyName;
  font-size: $size;
  font-weight: $weight;
}
