#about {
  margin-top: 100px;
  .main {
    justify-content: space-between;
  }
  .img {
    width: 49%;
    img {
      width: 100%;
    }
  }
  .details {
    width: 49%;
    h3 {
      font-family: $poppins;
      font-size: $headingFontSize;
      font-weight: 600;
    }
    span {
      font-weight: 400;
      color: $secondaryColor;
    }
    h2 {
      font-family: $poppins;
      font-size: $headingFontSize;
      font-weight: 400;
      color: $primaryColor;
    }
    h2 span {
      color: $secondaryColor;
    }
    p {
      font-family: $poppins;
      font-size: paraFontSize;
      color: $secondaryColor;
      padding-bottom: 20px;
    }
    .icons {
      display: flex;
      justify-content: center;
      color: #4267b2;
      i {
        width: 42px;
        height: 42px;
        border: 1px solid #000000b2;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
      }
      .tw {
        color: #0077b5;
      }
      .fb {
        color: #4267b2;
      }
      .stov {
        color: #f47f24;
      }
      .lin {
        color: #1da1f2;
      }
    }
  }
}
