nav {
  position: absolute;
  width: 100%;
  padding: 20px 0;
  .navbar__logo {
    width: 10%;
  }
  .navbar__navitem {
    width: 90%;
    ul {
      text-align: right;
      li {
        color: $othersColor;
        display: inline-block;
        transition: 0.4s;
        padding: 0 20px;
        &:hover {
          color: $primaryColor;
        }
      }
    }
  }
}
